<h1 class="font-bold text-4xl mb-5"><%= @user.full_name %></h1>

<h3 class="font-bold text-2xl mb-5">Friendship</h3>
<div class="bg-white shadow rounded-lg p-5 mb-5">
  <% case current_user.friendship_status(@user) %>
  <% when User::INVALID %>
    <p class="text-gray-600">You can't add yourself as a friend</p>
  <% when User::FRIEND %>
    <p class="text-gray-600">You are friends with <%= @user.full_name %></p>
  <% when User::REQUESTED %>
    <p class="text-gray-600">You have already sent a friend request to <%= @user.full_name %></p>
    <%= link_to "Cancel friend request", friendship_path(friend_id: @user.id), data: { "turbo-method" => :delete }, class: "text-blue-500 hover:text-blue-700" %>
  <% when User::REQUESTING %>
    <p class="text-gray-600">You have a friend request from <%= @user.full_name %></p>
  <% when User::NOT_FRIEND %>
    <p class="text-gray-600">You are not friends with <%= @user.full_name %></p>
    <%= link_to "Add as friend", friendships_path(friend_id: @user.id), data: { "turbo-method" => :post }, class: "text-blue-500 hover:text-blue-700" %>
  <% end %>
</div>

<h3 class="font-bold text-2xl mb-5">Profile</h3>
<div class="bg-white shadow rounded-lg p-5 mb-5">
  <p class="text-gray-600"><%= @user.email %></p>
  <% if @user == current_user %>
    <%= link_to "Change email or password", edit_user_registration_path, class: "text-blue-500 hover:text-blue-700" %>
  <% end %>
</div>

<h3 class="font-bold text-2xl mb-5">Posts</h3>
<% @user.posts.each do |post| %>
  <div class="bg-white shadow rounded-lg p-5 mb-5">
   <%= post.body %>
  </div>
<% end %>

<div class="mb-5">
  <%= link_to "Back to home", root_path, class: "hover:underline hover:underline-offset-4" %>
</div>
